# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
.venv/
venv/

# FastAPI env
backend/.env

# Flutter/Dart
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
*.iml

# Flutter env
frontend/.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
